<div class="container mb-2">

  <% if @items.count == 0 %>
    <h2>Votre panier est vide</h2>

  <% else %>
  <br>
    <h2>Votre Panier</h2>
    <br>

    <% @items.each do |item|%>

      <div class="row">
        <div class="col-md-6">
          <div class="product-gallery"  >

            <img class="card-img-top" src="<%= item.image_url %>" alt="Cat_Picture" image="image" cap="cap"><br><br>
          </div>
        </div>
        <div class="col-md-6 pb-5">
          <br><br>
          <h2 class="font-weight-bold"><%= item.title %></h2>
          <h3 class="font-weight-light"><%= item.price %>
            €</h3>
          <p>
            <strong>"<%= item.description %>"</strong>
          </p>
          <p class="text-muted">Once you add this picture to your cart and validate your order, you will receive your cute cat picture by mail under a vitem_idery short time.</p>
          <p class="text-muted">All of our cat picture are certificated 100% cute. All of our cats pictured on these pic are very well traited and get a lot of hugs and kisses.</p>
          <br>

        </div>
      </div>

    <% end %>

    <br>
    <h3>TOTAL : <%= @total %>€</h3>

    <a href="<%= order_index_path %>" data-method="POST" class="btn btn-gradient btn-block m-0">PASSER LA COMMANDE</a>
    <br>
    <a href="<%= root_path %>">Retour à la page Index</a>
  </div>

<% end %>
