<h2>Votre Panier</h2>

<% if @items.count == 0 %>
<h2>Votre panier est vide</h2>

<% else %>

  <% @items.each do |item| %>
    <img src="<%=item.image_url%>" alt="images de chat">
    <br>
    <%= item.title %>
    <br>
    <%= item.description %>
    <br>
    <%=  item.price %> €
    <br>
    <% cart_item = CartItem.where(cart_id: @cart.id ,item_id: item.id)[0]%>

    <%= link_to "Remove", cart_item_path(cart_item.id), method: :delete %>
    <br>

    <br> <br>
  <% end %>

  <h3> TOTAL = <%= @total %> €</h3>
  <br>
  <a href="<%= order_index_path %>" data-method="POST">PASSER LA COMMANDE</a>

<% end %>
