<p> Ceci est la page d'affichage de PANIER ID : <%= @cart.id %> </p>


  <% @items.each do |item| %>
    <img src="<%=item.image_url%>" alt="images de chat">
    <br>
    <%= item.title %>
    <br>
    <%= item.description %>
    <br>
    <%=  item.price %> €
    <br>
    <%= cart_item = CartItem.where(cart_id: @cart.id ,item_id: item.id)[0]%>
    <br>
    <%= cart_item.id%>
    <%= link_to "Remove", cart_item_path(cart_item.id), method: :delete %>
    <br>

    <br> <br>
  <% end %>

  <h3> TOTAL = <%= @total %> €</h3>
