<h1>coucou <%= @admin_user.email %></h1>
<p><%= @user.email %> buy :</p>

<% @user.cart.items.each do |item| %>
   <%= image_tag item.cat, :alt => "cat-pic" %>
 <p><%= item.title %><br>
 <%= item.price %><br>
<%= item.description %></p>
<% end %>
