
<%= audio_tag "miaou.wav" , id:"sound_miaou" , class: "audio-to-play"  , autoplay: false %>
<script>
  var audio = document.getElementById("sound_miaou");
  audio.volume = 0.3;
</script>


<% if flash[:notice] == "add cart successfully" %>
  <div class="alert alert-dismissible alert-success">
    <div class="notice"><strong><%= flash[:notice] %></strong></div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% elsif flash[:notice] == "Problème d'ajout au panier" %>
  <div class="alert alert-dismissible alert-danger">
    <div class="notice"><strong><%= flash[:notice] %></strong></div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>

<div class="container">



  <div class="card-columns">

      <% @items.each do |item|%>


      <!-- Card -->
      <div class="card  mb-30">
        <%= image_tag item.cat, :alt => "cat-pic" %>
        <div class="card-body">
          <h4 class="card-title"><a href="<%= item_path(item.id) %>"><%= item.title %></a></h4>
          <p class="card-text"><%= item.description %></p>
        </div>
        <div class="card-footer text-muted text-sm">
          <span class="opacity-75"><%= link_to "AJOUTER AU PANIER", cart_path(item.id), :method => :put,  :class=>"btn btn-gradient btn-block m-0" %>
            <%= item.price %>€</span>

        </div>
      </div>

        <%end%>

    </div>
  </div>
