<div class="container">



  <div class="card-columns">

      <% @items.each do |item|%>


      <!-- Card -->
      <div class="card  mb-30">
        <img src="<%= item.image_url %>" alt="Card image" style="">
        <div class="card-body">
          <h4 class="card-title"><a href="<%= item_path(item.id) %>"><%= item.title %></a></h4>
          <p class="card-text"><%= item.description %></p>
        </div>
        <div class="card-footer text-muted text-sm">
          <span class="opacity-75"><a href="<%= cart_path(item.id) %>" data-method="put" class="btn btn-gradient btn-block m-0"> add to cart </a><%= item.price %>$</span>
        </div>
      </div>

        <%end%>

    </div>
  </div>
