<p>/TEST /  Ceci est la page d'affichage SHOW de l'item <%=params[:id] %> /TEST/</p>
<br>

<% if @items.exists?(params[:id])%>
<% item = @items.find(params[:id])%>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%= item.image_url %>" alt="Cat_Picture" image="image" cap"="cap"">
  <div class="card-body">
    <h5 class="card-title">
      <%= item.title %>
    </h5>
    <p class="card-text"><%= item.description %></p>
    <p class="card-text"><%= item.price %>  €</p>
    <a href="#" class="btn btn-primary"> Buy </a>
  </div>
</div>
<%end%>
