<table class="table">
  <thead>
    <tr>

      <th scope="col">User_ID</th>
      <th scope="col">Email</th>
      <th scope="col">Orders_ID</th>
      <th scope="col">Delete Option</th>

    </tr>
  </thead>
  <tbody>
    <% (@users).each do |user|%>
      <tr>

        <td><%=user.id %></td>
        <td><%=user.email %></td>
        <td>
          <ul>
            <% Order.where(user_id: user.id).each do |ord|%>
              <li><a href="<%=order_path(ord.id)%>"><%=ord.id %></a>
                at
                <%=ord.created_at%>,
              </li>
            <% end%>
          </ul>
        </td>
        <% if user.admin != true %>
          <td>
            <a href="<%=user_path(user.id)%>" class="text-secondary text-light btn-sm btn btn-outline-secondary bg-danger" data-method="delete">Supprimer</a>
          </td>
        <%else%>
          <td>
            <a></a>
          </td>
        <% end %>

      </tr>
    <% end%>
  </tbody>
</table>
