<div class="container" align="center">
  <div class="col-md-6">

<h2>Mot de passe oublié ?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, class: "text-muted" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyez moi un nouveau mot de passe", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>

</div>
</div>
