<header class="navbar-wrapper navbar-sticky navbar-top">
  <div class="d-table-cell align-middle pr-md-3">
    <%= image_tag "logo.png", class: "logo-navbar" %>
    <a class="navbar-brand mr-1" href="<% root_path %>"></a>
  </div>
  <div class="d-table-cell w-100 align-middle pl-md-3">
    <div class="navbar-top d-none d-lg-flex justify-content-between align-items-center">
      <div>
        <a class="social-btn sb-style-3 sb-twitter" href="#">
          <i class="socicon-twitter"></i>
        </a>

      </div>
      <div>
        <ul class="list-inline mb-0">
          <li class="dropdown-toggle mr-2">
            <a class="navbar-link" href="#">
              <%if current_user%>
              <i class="fe-icon-user"></i><%= current_user.email%>
              <% else%>
              <i class="fe-icon-user"></i>S'inscrire ou se connecter
              <% end %>
              </a>

            <div class="dropdown-menu right-aligned p-3 text-center" style="min-width: 200px;">

              <% if current_user %>
                <p><%= link_to "Deconnexion", destroy_user_session_path, method: "delete", class: "btn btn-primary btn-sm btn-block" %></p>
              <% else %>
              <p class="text-sm opacity-70">Vous devez vous inscrire ou vous connecter pour avoir accès au panier</p>
                <p><%= link_to "Connexion", new_user_session_path, class: "btn btn-primary btn-sm btn-block" %></p>
                <p class="text-sm text-muted mt-3 mb-0">Nouveau sur le PussyCatShop ?
                <%= link_to "Inscription", new_user_registration_path %></p>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
        <div class="navbar justify-content-end justify-content-lg-between">
          <!-- Search-->
          <form class="search-box" method="get">
            <input type="text" id="site-search" placeholder="Type A or C to see suggestions">
            <span class="search-close">
              <i class="fe-icon-x"></i>
            </span>
          </form>
          <!-- Main Menu-->
          <ul class="navbar-nav d-none d-lg-block">
            <!-- Home-->
            <li class="nav-item mega-dropdown-toggle active"><%= link_to "THE PUSSYCAT SHOP", root_path, class: "nav-link text-accent"%>
              <% if current_user %>
              <li class="nav-item mega-dropdown-toggle active"><%= link_to "PANIER (#{current_user.cart.items.count})", cart_index_path,  class: "nav-link text-accent"%>
                <%end%>
              <!-- shop -->

              <!-- Account-->
              <% if current_user %>
              <li class="nav-item dropdown-toggle">
                <a class="nav-link text-accent" href="#">Votre compte</a>
                <ul class="dropdown-menu">

                  <li class="dropdown-item"><%= link_to "Profil ", user_path(current_user.id) %></li>



                  <li class="dropdown-item"><%= link_to "Mot de passe oublié ?", new_user_password_path %></li>
                </ul>
              </li>
              <%end%>

            </div>
          </div>
        </header>
