<!DOCTYPE html>
<html>
  <head>
    <title>PussyCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('cat_icon.png') %>
    <%= audio_tag "whats_new_pussycat.mp3" , id:"sound_tom_jones" , class: "audio-to-play" , autoplay: true %>
  </head>

  <%= render "layouts/navbar"%>

  <body>
    <%= yield %>
  </body>

  <%= render "layouts/footer"%>

</html>
