<!DOCTYPE html>
<html>
  <head>
    <title>PussyCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('cat_icon.png') %>


  </head>



  <body >
    <%= render "layouts/navbar"%>

    <% if current_user && current_user.admin == true %>
    <nav class="navbar navbar-light bg-info">
      <span class="navbar-brand mb-0 h1 ">MODE ADMIN : <%=current_user.email%></span>
    </nav>
    <br>
    <% end %>

    <%= yield %>
    <%= render "layouts/footer"%>



  </body>






</html>
