<!DOCTYPE html>
<html>
  <head>
    <title>PussyCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('cat_icon.png') %>

  </head>



  <body>
    <%= render "layouts/navbar"%>
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>

  <script>
    var audio = document.getElementById("sound_tom_jones");
    audio.volume = 0.0;
  </script>


</html>
